<section class="calculator">
  <div class="variables-sliders">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>Altura</mat-card-title>
        <mat-card-subtitle>{{ sliderHeight.value }} [cm] </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-slider [max]="maxHeight()" [min]="minHeight()" [showTickMarks]="showTickMarks()">
          <input matSliderThumb [value]="defaultHeight()" [(ngModel)]="inputHeight" #sliderHeight />
        </mat-slider>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>Peso</mat-card-title>
        <mat-card-subtitle>{{ sliderWeight.value }} [Kg] </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-slider [max]="maxWeight()" [min]="minWeight()" [showTickMarks]="showTickMarks()">
          <input matSliderThumb [value]="defaultWeight()" [(ngModel)]="inputWeight" #sliderWeight />
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="control-buttons">
    <button class="btn-calculate" matButton="elevated" (click)="calculateIMC()">
      Calcular IMC
    </button>
    <button color="red" matButton="elevated" (click)="resetDefault()">Resetear valores</button>
  </div>
  @if (calculated()) {
    <mat-divider></mat-divider>
    <section class="imc-calculated">
      <h3>Para la altura y peso especificados, el IMC es de:</h3>
      <h1>{{imcStr()}}</h1>
    </section>
  }
</section>
